DATABASE_URL="postgresql://postgres:password@localhost/name"
SELECTL_DB=""

SELECTL_SERVER=""
SELECTL_USER=""
SELECTL_PASSWORD=""
SELECTL_NAME=""

POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="..."

PGADMIN_DEFAULT_EMAIL="mat@mail.ru"
PGADMIN_DEFAULT_PASSWORD="111"

RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"

API_ID='...'
API_HASH='...'
PHONE_NUMBER='+.....'

BOT_TOKEN="..."

GPT_API_TOKEN=''